*, *:before, *:after{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: black;
}

header{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
	background-color: red;
    width: 100%;
    height: 92px;
    z-index: 3;
}

.logo {
    float: left;
    text-align: center;
    width: 65px;
    height: 82px;
    background-color: black;
    border-radius: 10px;
    margin-left: 60px;
}

.logo__header{
    width: 62px;
    height: 82px;
}

.err{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
}

.err__title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.h1{
    font-family: "Lemon";
    color: white;
    font-size: 48px;
    text-align: center;
}

.h2{
    font-family: "Kite One";
    color: white;
    font-size: 32px;
    text-align: center;
    margin: auto;
}